asn1crypto==0.23.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==3.2
cssselect==1.0.1
hyperlink==17.3.1
google-search==1.0.2
idna==2.6
incremental==17.5.0
lxml==4.1.0
pandas==0.23.0
parsel==1.2.0
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
PyDispatcher==2.0.5
pymongo==3.6.0
pyOpenSSL==17.3.0
py-web-search==0.2.4
queuelib==1.4.2
requests==2.18.4
Scrapy==1.5.0
scrapy-random-useragent==0.2
service-identity==17.0.0
six==1.11.0
Twisted==17.9.0
urllib3==1.22
w3lib==1.18.0
zope.interface==4.4.3
google-api-python-client==1.7.4
textdistance==3.0.3
